<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manga Curator</title>

    <base href="/">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap" rel="stylesheet">

    
    <link rel="stylesheet" href="nav/nav.min.css">
    
    <link rel="stylesheet" href="searchsimilar/searchsimilar.css">
</head>
<body>
    <%- include('../partials/nav.ejs') %>


    <!-- For loop to make images -->
    <!-- If only 1 image, set that to active and give it a margin to center it!-->

    <main class="container">
        <div class="carousel-container">
                        
        </div>

        <div class="manga-title-container">
            <a href="" class="manga-title"><h1 class="">
                #
            </h1>
            </a>
        </div>

        <div class="similar-container">
            <p class="similar-body">Searching manga similar to: <a href="" class="similar-title" rel="noopener noreferrer" target="_blank">#</a></p>
        </div>

        
    </main>

    <script>
        var checkList =  <%- JSON.stringify(data) %>
    </script>

    <script src="searchsimilar/getname.js"></script>
    <script src="searchsimilar/carousel.js"></script>
    <script src="searchsimilar/loader.js"></script>
</body>
</html>